@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file or module */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto; /* Center the spinner */
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
textarea::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

textarea {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color: black #f1f1f1; /* Thumb color and track color */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
